@import "./_variables.scss";

//----------------------------------------------------------------------------
//  LAYOUT
//----------------------------------------------------------------------------

body {
    display: block;
    min-width: 360px;
    overflow-x: auto;
    -webkit-text-size-adjust: 100%;
    background-color: #F5F6F8;
    color: $color-default;    
    font-size: 16px;
    line-height: 1.2;
}
.page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
    
    @media (max-width: $screen-tablet-portrait) {
        padding-left: $container-padding-sm;
        padding-right: $container-padding-sm;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: $gap / -2;
    margin-right: $gap / -2; 

    > *{
        padding-left: $gap / 2;
        padding-right: $gap / 2; 
    }

    @media (max-width: $screen-tablet-portrait) {
        margin-left: $gap-sm / -2;
        margin-right: $gap-sm / -2; 
        
        > *{
            padding-left: $gap-sm / 2;
            padding-right: $gap-sm / 2; 
        }
    }
}
.col-1  {width:  8.33333%;}
.col-2  {width: 16.66666%;}
.col-3  {width:       25%;}
.col-4  {width: 33.33333%;}
.col-5  {width: 41.66666%;}
.col-6  {width:       50%;}
.col-7  {width: 58.33333%;}
.col-8  {width: 66.66666%;}
.col-9  {width:       75%;}
.col-10 {width: 83.33333%;}
.col-11 {width: 91.66666%;}
.col-12 {width:      100%;}

.col-offset-1  {margin-left:  8.33333%;}
.col-offset-2  {margin-left: 16.66666%;}
.col-offset-3  {margin-left:       25%;}
.col-offset-4  {margin-left: 33.33333%;}
.col-offset-5  {margin-left: 41.66666%;}
.col-offset-6  {margin-left:       50%;}
.col-offset-7  {margin-left: 58.33333%;}
.col-offset-8  {margin-left: 66.66666%;}
.col-offset-9  {margin-left:       75%;}
.col-offset-10 {margin-left: 83.33333%;}
.col-offset-11 {margin-left: 91.66666%;}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-v-start {
    align-items: flex-start;
}
.flex-v-end {
    align-items: flex-end;
}
.flex-v-center {
    align-items: center;
}
.flex-h-start {
    justify-content: flex-start;
}
.flex-h-end {
    justify-content: flex-end;
}
.flex-h-center {
    justify-content: center;
}
.flex-h-between {
    justify-content: space-between;
}
.flex-h-around {
    justify-content: space-around;
}
.text-center{
    text-align: center;
}

//----------------------------------------------------------------------------
//  BUTTONS
//----------------------------------------------------------------------------

.btn {
    -webkit-appearance: none;
    height: 52px;
    padding: 0 40px;
    border: 1px solid $color-secondary;
    line-height: 52px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    border-radius: 26px;
    transition: all .2s ease;
    cursor: pointer;
    background: $color-secondary;
    color: #fff;
    vertical-align: middle;

    &:hover{
        background: $color-primary;
        border-color: $color-primary;
        color: #fff;
    }

    &--outline{
        background: transparent;
        border-color: $color-secondary;
        color: $color-secondary;

        &:hover{
            background: $color-secondary;
            border-color: $color-secondary;
            color: #fff;
        }   
    }

    &--outline-inverse{
        background: transparent;
        border-color: #fff;
        color: #fff;

        &:hover{
            background: #fff;
            border-color: #fff;
            color: $color-primary;
        }   
    }

    &--small{
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        font-size: 14px;
    }

    &--square{
        border-radius: 6px;
    }
}

.h1{
    color: $color-primary;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 50px;

    &--margin-lg{
        margin-bottom: 65px;
    }
    &--margin-sm{
        margin-bottom: 30px;
    }
}

.form-group{
    text-align: left;
    width: 100%;
    margin-bottom: 30px;

    &-title{
        font-weight: 500;
        margin-bottom: 12px;
    }

    &-error-text{
        color: #EB5757;
        font-size: 14px;
        margin-top: 8px;
        display: block;
    }
}

.form-control{
    display: block;
    width: 100%;
    background: #fff;
    font-size: 16px;
    font-family: inherit;
    height: 48px;
    line-height: 48px;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 0 12px;
    box-shadow: 4px 0 18px rgba(0,0,0,0.06);
    -webkit-appearance: none;
    appearance: none;
    transition: all .2s ease;

    &:focus{
        box-shadow: 4px 0 18px rgba(48,63,149,0.3);
    }
}
select.form-control{
    background: url(../svg/select-caret-down.svg) no-repeat right 15px center, #fff;
}

//----------------------------------------------------------------------------
//  LOGIN
//----------------------------------------------------------------------------

.auth{
    background: url(../img/auth-bg.png) no-repeat center center;
    padding: 50px 0 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-form{
        margin-bottom: 35px;
        width: 320px;

        &-buttons{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            &-link{
                margin-top: 35px;
                color: $color-primary;
                border-bottom: 1px solid;
                font-weight: 500;

                &:hover{
                    border-color: transparent;
                }
            }
        }
    }

    &-help{
        color: $color-light;
        width: 320px;
        line-height: 1.375;

        a{
            color: $color-primary;
            border-bottom: 1px solid;

            &:hover{
                border-color: transparent;
            }
        }
    }
}

//----------------------------------------------------------------------------
//  SYSTEM
//----------------------------------------------------------------------------

.system{
    margin-bottom: 200px;

    &-list{
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    }

    &-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 12px 26px rgba(48,63,149,0.06);
        width: calc(33.333% - 76px);

        &-title{
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: 500;
            color: $color-primary;
        }

        &-description{
            color: $color-light;
            font-size: 16px;
            line-height: 1.375;
        }

        img{
            margin-bottom: 20px;
            width: 43px;
        }
    }
}

//----------------------------------------------------------------------------
//  ACCOUNT-LAYOUT
//----------------------------------------------------------------------------

.account-container{
    min-height: calc(100vh - 60px);
    display: flex;
}
.account-content{
    width: calc(100% - 50px);
    max-width: 1260px;
    margin-left: -70px;
    padding: 25px 20px 0 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

//----------------------------------------------------------------------------
//  SUBJECT
//----------------------------------------------------------------------------

.breadcrumbs{
    text-transform: uppercase;
    display: block;
    margin-bottom: 50px;
    font-size: 14px;

    li{
        display: inline;
        position: relative;

        &:not(:last-child) {
            margin-right: 20px;

            &::after{
                content: '|';
                position: absolute;
                right: -15px;
                top: 2px;
            }
        }

        a{
            color: $color-light;
            &:hover{
                color: $color-default;
            }
        }
    }
}

.h1 span,
h1 span{
    display: block;
    font-size: 16px;
    color: $color-lightest;
    font-weight: 400;
    text-transform: none;
}

.team{
    margin-top: 180px;
    display: grid;
    gap: 50px;
    grid-auto-flow: column;
    grid-template-areas:
    "A A A A   B B B   D D D"
    "A A A A   C C C   E E E";

    &-item{
        margin-bottom: 80px;
        display: flex;
        flex-direction: column;

        &:not(:first-child){
            .team-item-name{
                font-size: 18px;
                order: -1;
                margin-bottom: 5px;
            }

            .team-item-position{
                font-size: 14px;
            }
        }

        &:nth-child(1){
            grid-area: A;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 0 45px;
            border-right: 1px solid $color-secondary;
        }
        &:nth-child(2){
            grid-area: B;
        }
        &:nth-child(3){
            grid-area: C;
        }
        &:nth-child(4){
            grid-area: D;
        }
        &:nth-child(5){
            grid-area: E;
        }

        &-name{
            color: $color-primary;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 15px;
        }

        &-description{
            line-height: 1.5;
        }

        &-position{
            font-size: 16px;
            color: $color-lightest;
            margin-bottom: 10px;
        }

        &-image{
            clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
            margin-bottom: 25px;
            width: 200px;
            height: 230px;

            img{
                display: block;
            }
        }
    }
}
p{
    margin: 0;
}

.text{
    font-size: 16px;
    line-height: 1.4;

    > * + *{
        margin-top: 25px;
    }
    
}

.subject-contacts{

    &-item{
        display: flex;
        align-items: center;

        img{
            flex-shrink: 0;
            margin-right: 15px;
        }

        &-content{
            color: $color-lightest;
            line-height: 1.3;
            span{
                display: block;
                color: $color-default;
                margin-top: 2px;
            }

            a:hover{
                color: $color-primary;
            }
        }
    }

    &-item + &-item{
        margin-top: 30px;
    }
}

.programs-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
    &-item{
        width: calc(50% - 75px);
        margin-bottom: 25px;
        a{
            display: flex;
            align-items: center;
            padding: 5px 50px 5px 20px;
            min-height: 52px;
            background: url(../svg/program.svg) no-repeat right center;
            background-size: cover;
            &:hover{
                background-image: url(../svg/program--hover.svg);
                color: #fff;
            }
        }
    }   
}
.programs-button{
    padding-top: 35px;
}

.org-list{
    display: block;
    width: 100%;
    background: #fff;

    &-table{
        width: 100%;
        text-align: center;
        font-family: $font-secondary;
        border: 0;
        border-collapse: collapse;
        border-spacing: 0;

        th{
            background: #fff;
            border-bottom: 2px solid #F3F4F7;
            padding: 14px 7px;
            font-size: 12px;
            font-weight: 500;
            color: #99A6B7;

            &:last-child{
                min-width: 100px;
            }
        }
        td{
            padding: 20px 7px;
            border-bottom: 1px solid #F3F4F7;
            font-size: 12px;
        }

        tr:nth-child(even) td{
            background: #F7FAFF;
        }
        tr:hover td{
            background: #dfe8f6;
        }

        &-dots{
            width: 16px;
            height: 16px;
            background: url(../svg/dots.svg) no-repeat center center;
            margin: 0 auto;

            &:hover{
                cursor: pointer;
                opacity: 0.7;
            }
        }
    }
}

.org-search{
    position: relative;
    margin-bottom: 50px;
    max-width: 660px;

    &-btn{
        position: absolute;
        color: $color-lightest;
        right: 0;
        top: 0;
        border-radius: 6px;
        padding: 0 18px;
        height: 100%;
        background: #fff;
        border-color: #fff;

        &:hover{
            color: $color-secondary;
            background: #fff;
            border-color: #fff;
        }
    }
}