@import "./_variables.scss";

//----------------------------------------------------------------------------
//  LAYOUT
//----------------------------------------------------------------------------

body {
    display: block;
    min-width: 360px;
    overflow-x: auto;
    -webkit-text-size-adjust: 100%;
    background-color: #F5F6F8;
    color: $color-default;    
    font-size: 16px;
    line-height: 1.2;
}
.page {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: $container-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding;
    padding-right: $container-padding;
    
    @media (max-width: $screen-tablet-portrait) {
        padding-left: $container-padding-sm;
        padding-right: $container-padding-sm;
    }
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: $gap / -2;
    margin-right: $gap / -2; 

    > *{
        padding-left: $gap / 2;
        padding-right: $gap / 2; 
    }

    @media (max-width: $screen-tablet-portrait) {
        margin-left: $gap-sm / -2;
        margin-right: $gap-sm / -2; 
        
        > *{
            padding-left: $gap-sm / 2;
            padding-right: $gap-sm / 2; 
        }
    }
}
.col-1  {width:  8.33333%;}
.col-2  {width: 16.66666%;}
.col-3  {width:       25%;}
.col-4  {width: 33.33333%;}
.col-5  {width: 41.66666%;}
.col-6  {width:       50%;}
.col-7  {width: 58.33333%;}
.col-8  {width: 66.66666%;}
.col-9  {width:       75%;}
.col-10 {width: 83.33333%;}
.col-11 {width: 91.66666%;}
.col-12 {width:      100%;}

.col-offset-1  {margin-left:  8.33333%;}
.col-offset-2  {margin-left: 16.66666%;}
.col-offset-3  {margin-left:       25%;}
.col-offset-4  {margin-left: 33.33333%;}
.col-offset-5  {margin-left: 41.66666%;}
.col-offset-6  {margin-left:       50%;}
.col-offset-7  {margin-left: 58.33333%;}
.col-offset-8  {margin-left: 66.66666%;}
.col-offset-9  {margin-left:       75%;}
.col-offset-10 {margin-left: 83.33333%;}
.col-offset-11 {margin-left: 91.66666%;}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.flex-v-start {
    align-items: flex-start;
}
.flex-v-end {
    align-items: flex-end;
}
.flex-v-center {
    align-items: center;
}
.flex-h-start {
    justify-content: flex-start;
}
.flex-h-end {
    justify-content: flex-end;
}
.flex-h-center {
    justify-content: center;
}
.flex-h-between {
    justify-content: space-between;
}
.flex-h-around {
    justify-content: space-around;
}

//----------------------------------------------------------------------------
//  BUTTONS
//----------------------------------------------------------------------------
.btn {
    -webkit-appearance: none;
    height: 52px;
    padding: 0 40px;
    border: 1px solid $color-secondary;
    line-height: 52px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    border-radius: 26px;
    transition: all .2s ease;
    cursor: pointer;
    background: $color-secondary;
    color: #fff;
    vertical-align: middle;

    &:hover{
        background: $color-primary;
        border-color: $color-primary;
        color: #fff;
    }

    &--outline{
        background: transparent;
        border-color: $color-secondary;
        color: $color-secondary;

        &:hover{
            background: $color-secondary;
            border-color: $color-secondary;
            color: #fff;
        }   
    }

    &--outline-inverse{
        background: transparent;
        border-color: #fff;
        color: #fff;

        &:hover{
            background: #fff;
            border-color: #fff;
            color: $color-primary;
        }   
    }

    &--small{
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        font-size: 14px;
    }
}