@import "~/static/css/_variables.scss";

.header-account{
    display: flex;
    align-items: center;
    background: #fff;
    height: 60px;
    padding: 0 30px;
    box-shadow: 4px 0 18px 0 rgba(0,0,0,0.06);
    position: relative;
    z-index: 4;

    &-logo{
        width: 250px;

        img{
            display: block;
            width: 100%;
        }
    }

    &-link{
        margin-left: 50px;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 500;

        &:hover{
            opacity: 0.75;
            cursor: pointer;
        }
        
        svg{
            margin-right: 10px;
        }
    }

    &-user{
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 12px;
        font-weight: 500;
        cursor: default;

        img{
            margin-right: 10px;
        }
    }

    &-notify{
        margin-left: 20px;

        &:hover{
            color: $color-secondary;
            cursor: pointer;
        }

        svg{
            fill: currentColor;
        }
    }

    &-logout{   
        margin-left: 20px;
        cursor: pointer;

        &:hover{
            color: $color-primary;
            cursor: pointer;
        }

        svg{
            stroke: currentColor;
        }
    }
}